<form [formGroup]="createFreeFormMeetingForm" class="flex flex-col gap-2 mt-2">
  <label class="flex flex-col">
    Meeting Name
    <input type="text" formControlName="name">
  </label>

  <label class="flex flex-col">
    Personnel
    <select multiple formControlName="personnel">
      <option *ngFor="let personnel of personnel$ | async" [ngValue]="personnel.id">
        {{ personnel.firstName }} {{ personnel.lastName }}
      </option>
    </select>
  </label>

  <label class="flex flex-col">
    Date
    <input type="date" formControlName="date">
  </label>

  <label class="flex flex-col">
    Starts
    <input type="time" formControlName="startTime">
  </label>

  <div class="flex flex-col">
    <p>Duration</p>
    <label class="flex gap-2">
      <input type="radio" [value]="15" formControlName="duration">
      15 mins
    </label>

    <label class="flex gap-2">
      <input type="radio" [value]="30" formControlName="duration">
      30 mins
    </label>

    <label class="flex gap-2">
      <input type="radio" [value]="45" formControlName="duration">
      45 mins
    </label>

    <label class="flex gap-2">
      <input type="radio" [value]="60" formControlName="duration">
      1 hr
    </label>
  </div>

  <button
      class="py-1 px-2 bg-green-200 border rounded border-green-300 shadow-sm hover:bg-green-300 hover:shadow-sm"
      [class]="{
        'hover:cursor-not-allowed': isValid
      }"
      [disabled]="isValid"
      (click)="scheduleMeeting()">
    Create
  </button>
</form>
