<div id="personnel-content" class="">

  <!-- Create Personnel -->
  <section class="flex justify-between items-center">
    <h1 class="">Personnel</h1>
    <button mat-button class="" (click)="showForm()">Add</button>
  </section>

  <!-- List Personnel -->
  <section class="">
    <div *ngIf="personnelList$ | async as personnel; else noPersonnel">
      <table mat-table [dataSource]="personnel" class="w-full mat-elevation-z8">
        <!-- Personnel Name -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let person">{{person.name}}</td>
        </ng-container>

        <!-- Assigned Project -->
        <ng-container matColumnDef="projects">
          <th mat-header-cell *matHeaderCellDef> Projects </th>
          <td mat-cell *matCellDef="let person"> {{person.projectNames}} </td>
        </ng-container>

        <!-- Recent Activity -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="cursor-pointer hover:bg-gray-100" *matRowDef="let row; columns: displayedColumns;"
          (click)="handleClickedRow(row)"></tr>
      </table>

      <mat-paginator *ngIf="personnelList$ | async as ps" [pageSizeOptions]="pageSizeOptions" [length]="ps.length"
        [pageSize]="pageSize" (page)="handlePage($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
    <ng-template #noPersonnel>
      No personnel found =[
    </ng-template>
  </section>
</div>