<div id="personnel-content" class="">

  <!-- Create Personnel -->
  <section class="p-d-flex">
    <h1 class="">Personnel</h1>
    <p-button class="" (click)="toggleShowForm()" label="Create"></p-button>
  </section>

  <!-- List Personnel -->
  <section class="">
    <div *ngIf="personnel$ | async as personnel; else noPersonnel">
      <p-table [value]="personnel" styleClass="p-datatable">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Recent Activity</th>
            <th>Email</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-personnel>
          <tr class="personnel-row">
            <td class="personnel-cell-clickable" (click)="goToPersonnel(personnel.id)">{{personnel.firstName}}
              {{personnel.lastName}}</td>
            <td>TBD</td>
            <td>{{personnel.email}}</td>
          </tr>
        </ng-template>
        <div class="personnel-list-item" class="flex gap-2" *ngFor="let person of personnel; index as i">
          <span class="">
            <a class="" [routerLink]="['/personnel', person.id]">
              {{ person.firstName }} {{ person.lastName }}
            </a>
          </span>
          <span class="">
            <!-- <app-personnel-activity></app-personnel-activity> -->
          </span>
          <span class="">{{ person.email }}</span>
        </div>
      </p-table>
    </div>
    <ng-template #noPersonnel>
      No personnel found =[
    </ng-template>
  </section>
</div>