<div id="login-container" class="min-h-screen flex justify-center items-center">
  <mat-card id="login-content" class="m-1 w-full md:w-1/3">
    <mat-card-header>
      <mat-card-title>
        Sign into MIND Lab Admins
      </mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm">
      <div class="field mb-4">
        <label for="email">Email</label>
        <input formControlName="email" type="email" class="inputfield w-full p-inputtext-lg" />
      </div>

      <div class="field mb-4">
        <label for="password">Password</label>
        <span class="p-input-icon-right">
          <input formControlName="password" type="password" class="inputfield w-full" />
        </span>
      </div>
    </form>

    <div *ngIf="errorMessage" class="">{{errorMessage}}</div>

    <div class="flex justify-end">
      <button mat-button (click)="logIn()" label="Login" [disabled]="loading" color="secondary">
        Log In
      </button>
    </div>
  </mat-card>
</div>