<div id="project-detail-view" class="m-8 p-8 border rounded">
  <button class="flex py-1 px-2 border rounded border-blue-300 bg-blue-200 hover:bg-blue-300" (click)="backToProjects()">
    <!-- <app-left-arrow></app-left-arrow> -->
    All Projects
  </button>
  <h1 class="text-xl my-2">{{ project.name }}</h1>

  <p>{{ project.description }}</p>

  <p>Assigned Personnel</p>

  <ul *ngIf="project.assignedPersonnel && project.assignedPersonnel.length; else noPersonnel">
    <li *ngFor="let person of project.assignedPersonnel">
      {{ person.firstName }}
    </li>
  </ul>

  <ng-template #noPersonnel>
    <div id="no-project-personnel">
      <p>No assigned resources found. Add One?</p>

      <!-- <select>
        <option *ngFor="let unassignedPerson of unassignedPersonnel | async">
          {{ unassignedPerson.firstName }} {{ unassignedPerson.lastName }}
        </option>
      </select> -->
    </div>
  </ng-template>

  <!-- <p>Notes/Objectives</p>
  <ul>
    <li
        class="project-note"
        *ngFor="let note of notes">
      {{ note.description }}
    </li>
  </ul> -->
</div>
