<div id="project-detail-view" class="" *ngIf="project$ | async as project; else noProject">

  <div id="project-detail-header">
    <h1>{{project.name}}</h1>
  </div>

  <div class="grid grid-cols-3 gap-8">
    <!-- Basic information about project -->
    <mat-card class="col-span-2">
      <h2 class="">Overview</h2>

      <!-- <div class=""></div> -->

      <p>{{ project.description }}</p>
    </mat-card>

    <!-- Project Objectives/Progress -->
    <mat-card class="col-span-1">
      <div class="">
        <h2>Objectives/Progress</h2>
        <p>
          In progress--low priority
        </p>
      </div>
    </mat-card>

    <!-- Recent Activity -->
    <mat-card class="col-span-1">
      <div class="">
        <h2>Recent Activity</h2>
        <p>
          In progress--low priority
        </p>
      </div>
    </mat-card>

    <!-- Assigned Personnel -->
    <mat-card class="col-span-2">
      <h2>Project Personnel</h2>
      <div class="" *ngIf="project.personnel && project.personnel.length; else noPersonnel">
        <div id="assigned-personnel-table-controls" class="">
          <button class="" *ngIf="personnelRemovalForm.controls.removePersonnelArray.value.length; else invalidRemove"
            (click)="removePersonnel()">Remove</button>
          <ng-template #invalidRemove>
            <span class="">
              Remove?
            </span>
          </ng-template>
          <span class="">Name</span>
        </div>
        <form [formGroup]="personnelRemovalForm">
          <div formArrayName="removePersonnelArray">
            <div class="" *ngFor="let removePerson of removePersonnelArray.controls; let i = index"
              formGroupName="{{i}}">
              <span class="">
                <input class="" type="checkbox" formControlName="remove">
              </span>
              <label class="">{{ project.personnel[i].firstName }} {{ project.personnel[i].lastName
                }}</label>
            </div>
          </div>
        </form>
      </div>

      <ng-template #noPersonnel>
        <div id="no-project-personnel" class="">
          <p>No assigned resources found. Add Some?</p>
        </div>
      </ng-template>

    </mat-card>

    <!-- Another section -->
    <mat-card class="col-span-1">
      <h2>Update Personnel</h2>
      <form class="" [formGroup]="assignPersonnelForm">
        <!-- <select multiple class="" formControlName="personnels">
          <option *ngFor="let unassignedPerson of unassignedPersonnel | async" [ngValue]="unassignedPerson.id">
            {{ unassignedPerson.firstName }} {{ unassignedPerson.lastName }}
          </option>
        </select> -->
      </form>

      <span class="italic font-gray-500">(add multiple people with ⌘/CRTL or Shift)</span>

      <button class="" (click)="addPersonnel()">Add</button>
    </mat-card>

    <!-- Notes/Objectives -->
    <mat-card class="col-span-2" header="Notes">
      <div class="">
        <h2>Notes/Objectives</h2>
        <p>
          In progress--low priority
        </p>
      </div>
    </mat-card>
  </div>

</div>

<ng-template #noProject>
  <div class="p-64">
    No project found. Try going back and selecting a different project.
  </div>
</ng-template>