<div id="project-detail-view" class="m-8 p-8 border rounded">
  <button
      class="flex py-1 px-2 border rounded border-blue-300 bg-blue-200 hover:bg-blue-300"
      (click)="backToProjects()">
    All Projects
  </button>

  <article *ngIf="project$ | async as project; else noProject">
    <section class="my-4">
      <h1 class="text-xl my-2">{{ project.name }}</h1>

      <p>{{ project.description }}</p>
    </section>

    <section class="my-4">
      <p class="font-bold">Assigned Personnel</p>

      <!-- -- -- -- -- If there are people, show them -- -- -- -- -->
      <div
          class="flex flex-col gap-2"
          *ngIf="project.assignedPersonnel && project.assignedPersonnel.length; else noPersonnel">
        <div id="assigned-personnel-table-controls" class="flex gap-2">
          <button
              class="w-24 py-1 border rounded border-red-300 bg-red-200 shadow-sm hover:bg-red-300 hover:shadown-md"
              *ngIf="personnelRemovalForm.controls.removePersonnelArray.value.length; else invalidRemove"
              (click)="removePersonnel()">Remove</button>
          <ng-template #invalidRemove>
            <span class="w-24">
              Remove?
            </span>
          </ng-template>
          <span class="w-64 font-bold">Name</span>
        </div>
        <form [formGroup]="personnelRemovalForm">
          <div formArrayName="removePersonnelArray">
            <div
                class="flex items-center gap-2"
                *ngFor="let removePerson of removePersonnelArray.controls; let i = index" formGroupName="{{i}}">
              <!-- <button class="py-1 px-2 border rounded border-red-300 bg-red-200 shadow-sm hover:bg-red-300 hover:shadown-md">Remove</button> -->
              <span class="w-24 flex justify-center">
                <input type="checkbox" formControlName="remove">
              </span>
              <label class="w-64">{{ project.assignedPersonnel[i].firstName }} {{ project.assignedPersonnel[i].lastName }}</label>
            </div>
          </div>
        </form>
      </div>

      <!-- -- -- -- -- Else show "no assigned personnel" -- -- -- -- -->
      <ng-template #noPersonnel>
        <div id="no-project-personnel" class="my-4 flex flex-col gap-2">
          <p>No assigned resources found. Add Some?</p>
        </div>
      </ng-template>

    </section>

    <section class="my-4 flex flex-col gap-2">
      <form class="flex flex-col gap-2" [formGroup]="assignPersonnelForm">
        <span class="italic">(add multiple people with ⌘/CRTL or Shift)</span>
        <select multiple class="w-64" formControlName="personnels">
          <option *ngFor="let unassignedPerson of unassignedPersonnel | async" [ngValue]="unassignedPerson.id">
            {{ unassignedPerson.firstName }} {{ unassignedPerson.lastName }}
          </option>
        </select>
      </form>

      <button
          class="w-64 border rounded border-blue-300 bg-blue-200 shadow-sm hover:bg-blue-300 hover:shadow-md"
          (click)="addPersonnel()">Add</button>
    </section>

  </article>

  <ng-template #noProject>
    No project found. Try going back and selecting a different project.
  </ng-template>

  <!-- <p>Notes/Objectives</p>
  <ul>
    <li
        class="project-note"
        *ngFor="let note of notes">
      {{ note.description }}
    </li>
  </ul> -->

</div>
