<div id="meetings-panel" class="grid grid-cols-12 p-4">
  <div id="meetings-container" class="col-span-10">
    <h1>Meetings</h1>
    <!-- List of any meetings planned -->
    <router-outlet></router-outlet>
  </div>

  <div id="meetings-right-panel" class="p-2 col-span-2 flex flex-col gap-3">
    <!-- Date Picker -->
    <app-date-picker></app-date-picker>

    <app-create-meeting></app-create-meeting>

    <!-- <button
        class="py-1 px-2 border rounded border-indigo-500 hover:bg-indigo-200 shadow-sm hover:shadow-md"
        (click)="handleCreate()">Create Meeting</button> -->
  </div>
</div>
