<div class="meeting-item mb-4">

  <div class="attendance-container gap-2" *ngIf="!!meetingItem; else noMeetingItem">
    <section class="attendee-name mb-4 flex gap-6">
      <h2 class="font-bold text-lg">
        {{ meetingItem.personnel.firstName }} {{ meetingItem.personnel.lastName }}
      </h2>
      <span *ngIf="showProjectName">|</span>
      <h3 class="italic font-bold" *ngIf="showProjectName">
        {{ meetingItem.project.name }}
      </h3>
    </section>

    <article class="grid grid-cols-2 gap-4">
      <!-- Planned Attendance -->
      <section class="col-span-2">
        <div class="flex items-center">
          <label style="width:150px">Expected</label>
          <mat-button-toggle-group name="plannedAttendanceStatus" aria-label="Planned Attendance Status"
            (change)="handlePlannedStatusChange($event)">
            <mat-button-toggle *ngFor="let option of plannedAttendanceOptions" value="option">{{ option }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </section>

      <!-- Actual Attendance -->
      <section class="col-span-2">
        <div class="flex items-center">
          <label style="width:150px">Actual</label>
          <mat-button-toggle-group name="actualAttendanceStatus" aria-label="Actual Attendance Status"
            (change)="handleActualStatusChange($event)">
            <mat-button-toggle *ngFor="let option of actualAttendanceOptions" value="option">{{ option }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </section>

      <!-- Tracks attendance reason -->
      <section class="col-span-2">
        <div class="flex items-center">
          <label style="width:150px">Attendance Reason</label>
          <textarea matInput id="attendance-reason" [(ngModel)]="meetingItem.attendanceReason"
            placeholder="Neuroscience conference..."></textarea>
        </div>
      </section>

      <!-- Tracks meeting notes -->
      <section class="track-notes col-span-1">
        <div class="track-notes-header">
          <h3 class="">Your Thoughts?</h3>
        </div>

        <div class="notes-container mt-2 flex flex-col">
          <div class="notes-list flex flex-col gap-2">
            <div class="flex gap-2" *ngFor="let note of meetingItem.notes; let i=index">
              <!-- Note -->
              <textarea placeholder="Today this intern..." [(ngModel)]="note.text"></textarea>

              <!-- Note Tag -->
              <mat-form-field appearance="fill">
                <mat-label>Tags</mat-label>
                <mat-chip-list #chipList aria-label="Note tags">
                  <mat-chip *ngFor="let tag of note.tags" [selectable]="selectable" [removable]="removable"
                    (removed)="removeTag(tag)">
                    {{tag}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="New tag..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addTag($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                    {{tag}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <button class="mt-4 py-1 px-2 border rounded border-blue-300 bg-blue-200 hover:bg-blue-300 hover:shadow-md"
            (click)="addNoteFormControl()">
            + Add another note
          </button>
        </div>
      </section>

      <!-- Displays others' meeting notes -->
      <section class="col-span-1">
        <h3>Others said</h3>

        <div *ngIf="meetingItem.othersNotes && meetingItem.othersNotes.length; else noNotes"
          class="meeting-notes-others">
          <div *ngFor="let otherNote of meetingItem.othersNotes" class="meeting-notes-other p-4 flex justify-between">
            <div class="meeting-notes-other-content flex flex-col">
              <span class="text-gray-500 italic">{{ otherNote.text }}</span>
              <span class="text-gray-500 font-bold italic">{{ otherNote.meetingNoteTag.text }}</span>
            </div>
            <span class="text-gray-500 italic">{{ otherNote.authorName }}</span>
          </div>
        </div>
        <ng-template #noNotes>
          <div class="no-meeting-notes h-32 flex justify-center items-center">
            <p class="text-gray-500 italic">No one's said anything yet</p>
          </div>
        </ng-template>
      </section>
    </article>

  </div>

  <ng-template #noMeetingItem>
    No Meeting Item details to display. Does it exist?
  </ng-template>

</div>