<div class="meeting-note flex flex-row gap-2">
  <!-- Note -->
  <mat-form-field appearance="fill">
    <textarea matInput placeholder="Today this intern..." [(ngModel)]="note.text"></textarea>
  </mat-form-field>

  <!-- Note Tag -->
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Tags</mat-label>

    <mat-chip-list #chipList aria-label="Note tags">

      <ng-container *ngIf="!!selectedTags && selectedTags.length > 0">
        <ng-container *ngFor="let tag of selectedTags; let tagIdx = index">
          <mat-chip [selectable]="selectable" [removable]="removable" (removed)="removeTag(tagIdx)">
            {{tag.text}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </ng-container>
      </ng-container>

      <input placeholder="New tag..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleAutocompleteSelect($event)">
      <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>