<div class="searchbar-dropdown">
  <div class="input-wrapper relative">
    <input
      #searchbar
      type="text"
      [placeholder]="placeholder"
      [value]="searchInput"
      (keyup)="fetchResults(searchbar.value)" />
    <!-- <app-search></app-search> -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 absolute right-2 top-2"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      (click)="fetchResults(searchbar.value)"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
      />
    </svg>
  </div>

  <ul class="input-search-results">
    <li
        class="flex justify-between"
        *ngFor="let searchResult of searchResults | async"
        (click)="handleSelect(searchResult)">
      <span>{{ searchResult.text }}</span>
      <span class="italic text-gray-500 ">{{ searchResult.count }}</span>
    </li>
  </ul>
</div>
