<div id="date-picker">
  <form class="flex justify-evenly" [formGroup]="datePickerForm">
    <select formControlName="month">
      <option *ngFor="let monthOption of monthOptions" [ngValue]="monthOption">
        {{monthOption}}
      </option>
    </select>

    <select formControlName="year">
      <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
    </select>
  </form>

  <div id="calendar" class="grid grid-cols-7">
    <div class="w-7 h-7 flex items-center justify-center hover:cursor-default"><span>Su</span></div>
    <div class="w-7 h-7 flex items-center justify-center hover:cursor-default"><span>Mo</span></div>
    <div class="w-7 h-7 flex items-center justify-center hover:cursor-default"><span>Tu</span></div>
    <div class="w-7 h-7 flex items-center justify-center hover:cursor-default"><span>We</span></div>
    <div class="w-7 h-7 flex items-center justify-center hover:cursor-default"><span>Th</span></div>
    <div class="w-7 h-7 flex items-center justify-center hover:cursor-default"><span>Fr</span></div>
    <div class="w-7 h-7 flex items-center justify-center hover:cursor-default"><span>Sa</span></div>

    <app-date-picker-day
        [displayValue]="day.displayValue"
        [isToday]="day.isToday"
        [isSelectedDay]="day.isSelectedDay"
        *ngFor="let day of days | async">
    </app-date-picker-day>
  </div>
</div>
