<form [formGroup]="attendanceForm">
  <div class="attendance-options flex flex-col gap-2">
    <!-- <label class="flex gap-2 items-center">
      <input type="radio" [value]="'Attending'" formControlName="attendanceStatus">
      Attending
    </label>
    <label class="flex gap-2 items-center">
      <input type="radio" [value]="'Leave Early'" formControlName="attendanceStatus">
      Leave Early
    </label>
    <label class="flex gap-2 items-center">
      <input type="radio" [value]="'Joining Late'" formControlName="attendanceStatus">
      Joining Late
    </label>
    <label class="flex gap-2 items-center">
      <input type="radio" [value]="'Not Attending'" formControlName="attendanceStatus">
      Not Attending
    </label>
    <label *ngIf="enableNoShow" class="flex gap-2 items-center">
      <input type="radio" [value]="'No Show'" formControlName="attendanceStatus">
      No Show
    </label> -->

    <select formcontrolname="attendanceStatus" (change)="handleChange($event)">
      <option *ngFor="let option of options" [value]="option">{{ option }}</option>
    </select>
  </div>
</form>
