<form id="create-personnel-form" class="" [formGroup]="personnelForm">
  <h1>Create Personnel</h1>

  <div id="create-personnel-form-contents" class="grid grid-cols-2 gap-4">
    <div appearance="fill">
      <!-- <mat-label>First Name</mat-label> -->
      <input matInput type="text" formControlName="firstName" placeholder="First Name" required>
      <span *ngIf="showErrors && personnelForm.controls.firstName.invalid" class="">
        First Name is required.
      </span>
    </div>

    <div appearance="fill">
      <!-- <mat-label>Last Name</mat-label> -->
      <input matInput type="text" formControlName="lastName" placeholder="Last Name" required>
      <span *ngIf="showErrors && personnelForm.controls.lastName.invalid" class="">
        Last Name is required.
      </span>
    </div>

    <div appearance="fill">
      <!-- <mat-label>Middle Name</mat-label> -->
      <input matInput type="text" formControlName="middleName" placeholder="Middle Name">
    </div>

    <div appearance="fill">
      <!-- <mat-label>Goes By</mat-label> -->
      <input matInput type="text" formControlName="goesBy" placeholder="Goes By">
    </div>

    <div appearance="fill">
      <!-- <mat-label>Email</mat-label> -->
      <input matInput type="email" formControlName="email" placeholder="Email">
      <span *ngIf="emailInUse" class="text-red-500">
        Email address already used
      </span>
    </div>

    <!-- <div *ngIf="email.invalid && userForm.dirty" class="error">
      Technologies required.
    </div>  -->

    <div appearance="fill">
      <!-- <mat-label>Gender</mat-label> -->
      <input matInput type="text" formControlName="gender" placeholder="Gender">
    </div>

    <div appearance="fill">
      <!-- <mat-label>Ethnicity</mat-label> -->
      <input matInput type="text" formControlName="ethnicity" placeholder="Gender">
    </div>

    <div appearance="fill">
      <!-- <mat-label>Position</mat-label> -->
      <input matInput type="text" formControlName="position" placeholder="Assistant Professor">
    </div>

    <div appearance="fill">
      <!-- <mat-label>Institution/Company</mat-label> -->
      <input matInput type="text" formControlName="institution" placeholder="UMD">
    </div>

    <div appearance="fill">
      <!-- <mat-label>Project(s)</mat-label> -->
      <div *ngIf="projects$ | async as projects; else noProjects">
        <select matSelect multiple formControlName="assignedProjects">
          <option [ngValue]="null" disabled>Assign to a Project?</option>
          <option *ngFor="let project of projects" [ngValue]="project.id">
            {{ project.name }}
          </option>
        </select>
      </div>
      <ng-template #noProjects>
        No projects found
      </ng-template>
    </div>
  </div>

  <div class="create-personnel-actions">
    <button class="" (click)="createPersonnel()">Create</button>
  </div>
</form>