<div id="project-dashboard" class="p-8">

  <!-- Project Header -->
  <div class="flex justify-between align-items-center">
    <h1>Projects</h1>

    <button mat-button (click)="showCreate()" color="primary">Create</button>
  </div>

  <!-- Projects Table -->
  <div *ngIf="projects$ | async as projects; else noProjects">
    <table mat-table [dataSource]="projects" class="w-full mat-elevation-z8">
      <!-- Project Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let project">{{project.name}} </td>
      </ng-container>

      <!-- Number of Assigned Personnel -->
      <ng-container matColumnDef="numPersonnel">
        <th mat-header-cell *matHeaderCellDef> No. Personnel </th>
        <td mat-cell *matCellDef="let project"> {{project.numPersonnel}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="cursor-pointer hover:bg-gray-100" *matRowDef="let row; columns: displayedColumns;"
        (click)="handleClickedRow(row)"></tr>
    </table>
  </div>

  <!-- Else no Projects Table -->
  <ng-template #noProjects>
    <div class="">
      No projects found. Try creating one?
    </div>
  </ng-template>

</div>