<div id="project-dashboard" class="">

  <!-- Project Header -->
  <div class="project-header p-d-flex">
    <!-- Create Project Button -->
    <p-button (click)="showCreate()" label="Create"></p-button>
  </div>

  <!-- Projects Table -->
  <div *ngIf="projects$ | async as projects; else noProjects">

    <!-- <div>
      {{ projects | json }}
    </div> -->

    <p-table [value]="projects" styleClass="p-datatable">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th># Assigned People</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-project>
        <tr class="project-row">
          <td class="project-cell-clickable" (click)="goToProject(project.slug)">{{project.name}}</td>
          <td>{{project.numPersonnel}}</td>
          <!-- <td>{{project.quantity}}</td> -->
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template #noProjects>
    <div class="">
      No projects found. Try creating one?
    </div>
  </ng-template>

</div>