<app-toolbar></app-toolbar>

<mat-sidenav-container class="w-full">
  <mat-sidenav mode="side" opened>
    <div id="main-sidenav" class="w-64">
      <ul>
        <li *ngFor="let route of routes">
          <a class="w-16" [routerLink]="route.path">{{route.data!.displayText }}</a>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="p-8">
    <h1>Your Weekly Summary</h1>

    <div class="grid">
      <mat-card class="col-4 h-48" header="Upcoming Meetings">
        <div class="h-12rem"></div>
      </mat-card>

      <mat-card class="col-4 h-48" header="Past Meetings">
        <div class="h-12rem"></div>
      </mat-card>

      <mat-card class="col-4 h-48" header="Comment Performance">
        <div class="h-12rem"></div>
      </mat-card>

      <mat-card class="col-4 h-48" header="Upcoming Meetings">
        <div class="h-12rem"></div>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>