<div id="create-meeting" class="flex flex-col gap-2">

  <div class="create-meeting-form-container">

    <div class="button-container">
      <button
          class="py-1 px-2 border-b hover:border hover:bg-gray-200"
          [class]="{
            'bg-gray-100': displayedCreateMeeting === 'Project Meeting',
            'border': displayedCreateMeeting === 'Project Meeting'
          }"
          (click)="toggleProjectMeeting()">
        Project
      </button>
      <button
          class="py-1 px-2 border-b hover:border hover:bg-gray-200"
          [class]="{
            'bg-gray-100': displayedCreateMeeting === 'Free Form Meeting',
            'border': displayedCreateMeeting === 'Free Form Meeting'
          }"
          (click)="toggleFreeFormMeeting()">
        Free-form
      </button>
    </div>

    <!-- Dynamically display appropriate create meeting form -->
    <div>
      <ng-template appCreateMeeting></ng-template>
    </div>

  </div>

</div>
