<div id="create-meeting" class="flex flex-col gap-2">
  <form [formGroup]="meetingForm" class="flex flex-col gap-2">
    <label class="flex flex-col">
      Name:
      <input type="text" formControlName="name">
    </label>

    <label class="flex flex-col">
      Date:
      <input type="date" formControlName="date">
    </label>

    <label class="flex flex-col">
      Starts at:
      <input type="time" formControlName="startTime">
    </label>

    <label class="flex flex-col">
      Ends at:
      <input type="time" formControlName="endTime">
    </label>

    <div class="flex flex-col">
      <p>Frequency:</p>

      <div
          class="meeting-frequency-selection"
          *ngFor="let meetingFrequency of meetingFrequencies; let i = index">
        <span class="flex gap-1 items-center">
          <label for="scheduleFrequency">
            <input
                type="radio"
                formControlName="scheduleFrequency"
                name="scheduleFrequency"
                [value]="meetingFrequency.id" />
            {{meetingFrequency.displayValue}}
          </label>
        </span>
      </div>
    </div>

    <div class="flex flex-col">
      <label>Projects</label>
      <select multiple formControlName="projects">
        <option *ngFor="let project of projects | async" [ngValue]="project.id">{{ project.name }}</option>
      </select>
    </div>

    <div class="flex flex-col">
      <label>Personnel</label>
      <select multiple formControlName="personnel">
        <option *ngFor="let person of personnels | async" [ngValue]>{{ person.firstName }} {{ person.lastName }}</option>
      </select>
    </div>
  </form>

  <div id="create-meeting-actions" class="flex gap-2">
    <button
        class="py-1 px-2 border rounded border-red-500 bg-red-200 shadow-sm hover:bg-red-300 hover:shadow-md"
        (click)="resetForm()">Reset</button>
    <button
        class="py-1 px-2 border rounded border-blue-500 bg-blue-200 shadow-sm hover:bg-blue-300 hover:shadow-md"
        (click)="createMeeting()">Submit</button>
  </div>
</div>
