<div id="meeting-content" *ngIf="date$ | async as date; else noDate">
  <h2>{{ date$ | async | date:'longDate' }}</h2>
  <div *ngIf="meetings$ | async as meetings; else noMeetings">
    <mat-accordion class="" multi>
      <mat-expansion-panel *ngFor="let meeting of meetings">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Time of meeting
          </mat-panel-title>
          <mat-panel-description>
            Meeting Name
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- <app-editable-meeting [meetingData]="meeting">
        </app-editable-meeting> -->

        {{ meeting | json }}

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <ng-template #noMeetings>
    <div class="flex flex-column align-items-center">
      <i class="pi pi-heart" style="font-size: 12rem"></i>
      <p class="mt-4">
        No meetings found for this day. Enjoy your empty schedule! =]
      </p>
    </div>
  </ng-template>
</div>

<ng-template #noDate>
  <p>No date selected. Pick a date to the right to get started!</p>
</ng-template>